<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.complaint_system.mapper.AdminMapper">

    <!--
        管理员登入 查询管理员实体对象
    -->
    <select id="adminLogin" resultType="com.example.complaint_system.domain.User"
            parameterType="com.example.complaint_system.domain.bo.AdminLoginBo">
        select
               *
        from
             user
        where
        <if test="username != null and username != ''">
            username = #{username} limit 1
        </if>
</select>


</mapper>